@using Microsoft.CodeAnalysis
@using NonFactors.Mvc.Grid
@model Dashboard.Models.UriPageListIndexDto

@section Styles
{
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

    @*@if (Model.HeaderText.StartsWith("Link Relation:"))
    {
        <style>
            .container-fluid{background-color: lightgray}
        </style>
    }*@
}

@section Scripts
{
    <script src="~/js/mvc-grid/mvc-grid.js"></script>

    <script>

        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));

        //var config = JSON.parse(localStorage.getItem('gridColumnSetting'));

        document.getElementById("GridConfigure").addEventListener("click",
            function () {
                new MvcGrid(document.querySelector(".mvc-grid")).showConfiguration(this);
            });

        document.addEventListener("gridconfigure",
            e => {
                const configuration = e.detail.grid.getConfiguration();

                // Save configuration to a cookie/backend/etc.
                //localStorage.setItem('gridColumnSetting', JSON.stringify(configuration));
                var jsonString = JSON.stringify(configuration);
                var encoded = btoa(jsonString);
                setCookie("gridColumnSetting", encoded, 999);
            });

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
    </script>
}

<div class="container-fluid">
    <div class="row">
        <h3 class="col-11">@Html.Raw(Model.HeaderText)</h3>
        <button type="button" class="btn btn-link col-1" id="GridConfigure">Show Columns...</button>
    </div>
    @Html.AjaxGrid(Url.Action("GridAjax", new { parentId = Model.ParentId, childId = Model.ChildId }))
</div>